<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="basket"
		class="com.caveofprogramming.spring.test.FruitBasket">

	<constructor-arg value="John's Basket"></constructor-arg>
	<constructor-arg>
		<!-- Can use the set tag and let Spring weed out duplicates for you like with a normal set object -->
		<list>
			<value>Apple</value>
			<value>Banana</value>
			<value>Kiwi</value>
			<value>Pear</value>
		</list>
	</constructor-arg>
	</bean>
</beans>
